/* 通过 :where 选择器定位特定的类 */
:where(.css-dev-only-do-not-override-1ayddhh) .ant-image .ant-image-mask {
  /* 设置图片的最大宽度和最大高度 */
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

/* 桌面端样式 */
:where(.css-dev-only-do-not-override-1ayddhh) .ant-image .ant-image-img {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

/* 移动端样式 */
@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-1ayddhh) .ant-image .ant-image-img {
    max-width: 90%;
    max-height: 300px;
  }
}

/* 目录组件样式控制 */
:where(.css-dev-only-do-not-override-1ayddhh)[class^="ant-anchor"],
:where(.css-dev-only-do-not-override-1ayddhh)[class*=" ant-anchor"] {
  /* 设置目录项的最大宽度 */
  max-width: 256px; /* 根据需要设置适当的最大宽度 */

  /* 允许文本换行 */
  word-wrap: break-word;
  word-break: break-word;
}
